div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

}

input,button{
    width: 50%;
    margin:5%;
    height: 5%;
    font-size: 20px;
}

#Delete{
    width:100%;
}

#foodlist{
    border: black solid;
    width:100%;
    margin:auto;
    margin-bottom:5%;
}

hr{
    text-align: center;
    width: 100%;
}